<div lang="fa" dir="rtl">
    
    <h1><%=t :hello %></h1>
    <p> فرمت زمان محلی: <%= l Time.now, format: :short %></p>
    <p><%= l Time.now, format: :long %></p>
   
    <h1> درباره ما</h1>
    <p>
        یافتن من
    </p>

    <hr />
    <p>StaticPages#show about us</p>
    <p>Find me in app/views/static_pages/about_us.fa.html.erb</p>


</div>