<div class="grid-x grid-padding-x">
  
  <div class="cell medium-3 large-2 flex-container flex-dir-column data-sticky-container">
    <div id="side-nav" class="sticky" data-sticky data-options="marginTop:5;" >
      <div class="callout flex-child-shrink">
        <%= render 'partials/side_nav' %>
      </div>
      <div class="callout flex-child-shrink">
        <%= link_to t('users.index.title'), users_url(locale: I18n.locale), data: { turbolinks: "false" } %>
      </div>
    </div>
  </div>

  <div class="cell auto align-self-top">
  <h1><%=t :hello %></h1>
  <p>symbol with chosen language Value passed from the controller</p>
  <p><%= flash[:notice] %></p>
  <p><%= l Time.now, format: :short %></p>
  
  <p>HTML content in any particular language</p>
  <p>यो नेपाललाई नमस्कार संसारको लागि हो?</p>
  
  <hr />
  <article>
    <p>StaticPages#show about us</p>
    <p>Find me in app/views/static_pages/about_us.html.erb</p>
    <h2>Guide to create this internationalised app</h2>
    <p>Either clone the project or create a new project and follow through the following steps.</p>
    <p>
      Source code: git clone git@bitbucket.org:chubkins/chubkins.git<br />
      git clone https://chubkins@bitbucket.org/chubkins/chubkins.git
    </p>
    <p>Create a C9 project. At the command prompt, Initialise git and add an origin on bitbucket</p>
    
    <pre><code class="language-git">git init
    git remote add origin https://chubkins@bitbucket.org/chubkins/chubkins.git  
    </code></pre>
    <p>Follow the <strong>static pages</strong> exercise.</p>
    <p>
    Check for Heroku setup and then create a heroku project to publish the master git branch
    </p>
    <pre><code class="language-git">heroku --version
    if no heroku then install by running: 
    source &lt;(curl -sL https://cdn.learnenough.com/heroku_install)
    
    heroku login
    heroku keys:add
    heroku create
    
    bundle install --without production
    git push heroku master
    
    surf to your site
    
    if you are using the pg gem then start the postgresql server:
    sudo service postgresql start
    
    start the web server
    rails s -b $IP -p $PORT
    
    and surf to your address
    https://chubkins-lab.herokuapp.com/
    </code></pre>
    <p>
    
    <p>Use scaffold to create the full set of files for the user model.  A simple model with name, email and a pssword_digest to to later add a secure login.</p>
    <pre><code class="language-ruby">rails generate scaffold user name email password_digest
    For secured password add the gem file: 
    gem 'bcrypt', '3.1.11'
    </code></pre>
    
    <p>
      The <code>scaffold</code> does a good job of creating all the necessary files including the views; this is generally based on the naming convention and the view files have the atrributes that match the model attributes.  This includes code in the view for the attribute <code>password_digest</code>. Handling the password is with a call to the Rails <code>has_secure_password</code> method which uses the <code>bcrypt</code> gem to <em>safely</em> handle passwords.  Pratically, this avoids the man-in-the-middle security threat as the passwords are not stored in the database but the secure hash provided by <code>bcrypt</code> which means the views need to be updated.
    </p> 
    <p>
      Update user view form and delete password_digest and insert password and confirm password attributes:
    </p>
    
    <pre><code class="language-ruby">&lt;div class="field">
      &lt;%= form.label :password %>
      &lt;%= form.password_field :password %>
    &lt;/div>
    
    &lt;div class="field">
      &lt;%= form.label :password_confirmation, "Confirmation" %>
      &lt;%= form.password_field :password_confirmation %>
    &lt;/div></code></pre>
    
    <p>delete password digest from view > user > show and index</p>
    
    <p>To avoid security threats add the <code>password</code> and <code>password_confirmation</code> to the permit list in the user controller:</p>
    user controller, update the white listed attributes to:
    <pre><code class="language-ruby"># Never trust parameters from the scary internet, only allow the white list through.
    def user_params
      params.require(:user).permit(:name, :email, :password, :password_confirmation)
    end</code></pre>
    
    <p>Update user model to add validations.  Note, the <code>has_secure_password</code> which uses the <code>password_digest</code> attribute.</p>
    <pre><code class="language-ruby">class User &lt; ApplicationRecord
      before_save { email.downcase! }
      validates :name, presence: true
      VALID_EMAIL_REGEX = /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i
      validates :email, presence: true, length: { maximum: 255 },
                        format: { with: VALID_EMAIL_REGEX },
                        uniqueness: true
                        
      has_secure_password
      validates :password, presence: true, length: { minimum: 6 }
    end</code></pre>
    <p>
      Bundle, start the server, and check CRUD operations on the user model
    </p>
    <pre><code class="language-ruby">bundle
    rails server
    
    and check /users and CRUD users
    
    git push heroku
    heroku run rails db:migrate
    </code></pre>
    
    <h3>Internationalize</h3>
    <p>I18N gem does the work. <i>I18N? there are 18 charachters between the I and the N</i>. A locale needs to be defined and the user needs to have a menu for selecting the languages and locales available. 
    </p>
    <pre><code class="language-ruby">Add to gem file: 
    gem 'rails-i18n'
    
    Add to Application controller:
    before_action :set_locale
    
    private
    
    def set_locale
    
      # set locale to the locale on the request params or the default set in the config
      I18n.locale = params[:locale] || I18n.default_locale
      
      # @local_dir instance variable to pass to the view for right-to-left and left-to-right languages
      case I18n.locale
      when :fa, :ar
        @local_dir = "rtl"
      else
        @local_dir = "ltr"
      end
    end
    
    # avoids having to add the locale to every link_to 
    def default_url_options
      { locale: I18n.locale }
    end
    </code></pre>
    <p>
      There are common translation for the words used in the frame work, for example, edit, update, destroy on forms.  Locales also have predefined, time, currency and date formats.  All of these common vocabularly is available in a git repository. See default YML translation files for each language here: <%= link_to 'locale dictionaries', 'https://github.com/svenfuchs/rails-i18n/tree/master/rails/locale', html_options = { target: "blank" } %>.  Copy each desired language file to <code>config/locales</code> directory.
    </p>
    <p>
      Int the <code>set_locale</code> method, the locale was set from the request parameters.  To add the local to every route URI pattern, include the routes in a locale scope; edit config/routes and updat to the following code:
    </p>
    <pre><code class="language-ruby">scope "(:locale)" do
      resources :users
      root 'static_pages#show'
      get ':path', to: 'static_pages#show'
      get '*path', to: 'static_pages#show', as: :pages
    end</code></pre>
    
    <p>
      To test the static content, create view files with the locale code as part of the filename, for example, about_us.&lt;lang>.html.erb files (where &lt;lang> is the country code, such as en fa ne and so on). Choose a few languages and create thier corresponding view files 
    </p>
    In the view/static_pages folder, 
    add a few about_us.&lt;lang>.html.erb files (where &lt;lang> is the country code, such as en fa ne and so on)
    
    Insert the following in each file for testing:
    </p>
    <pre><code class="language-ruby">&lt;h1>&lt;%=t :hello %>&lt;/h1>
    &lt;p>&lt;%= flash[:notice] %>&lt;/p>
    &lt;p>&lt;%= l Time.now, format: :short %>&lt;/p></code></pre>
    
    <p>Note, <code>:hello</code> is set in the <code>yml</code> locale files; <code>:notice</code> is set in the controller and <code>l</code> returns the locale format of the system time.  This is a reasonable test to be followed by translation from the database.
    </p>
    
    <p>
      Add the following to the static_pages show method
    </p>
    
    <pre><code class="language-ruby">flash[:notice] = t(:hello)</code></pre>
    
    <p>
      To allow users to set a language, add the following to the layout/application.html.erb
    </p>
    
    <pre><code class="language-html">&lt;nav>
      &lt;div class="menu" lang = &lt;%= I18n.locale %> dir= &lt;%= @local_dir %> >
        &lt;ul class="vertical menu">
          &lt;li>&lt;%= t('languages.languages') %>:
              &lt;%= link_to t('languages.en'), root_path(locale: 'en') %> 
              &lt;%= link_to t('languages.fa'), root_path(locale: 'fa') %>
              &lt;%= link_to t('languages.ne'), root_path(locale: 'ne') %>
              &lt;%= link_to t('languages.th'), root_path(locale: 'th') %>
              &lt;hr />
          &lt;/li>
          &lt;li>&lt;%= link_to t('about_us'), pages_path('about_us') %>&lt;/li>
        &lt;/ul>
      &lt;/div>
    &lt;/nav></code></pre>
    
    <p>
      udate gem file:
    </p>
    
    <pre><code class="language-ruby">gem 'globalize', git: 'https://github.com/globalize/globalize'
    gem 'activemodel-serializers-xml'
    
    bundle</code></pre>
    
    <p>For translations stored in the database the model has to be updated.</p>
    
    <pre><code class="language-ruby">class User &lt; ApplicationRecord
      translates :name</code></pre>
      
    <p>
      For the CRUD views,update locale yml with db attributes and their tranlations.
    </p>
    
    <p>Database migrations are needed for translations stroed in the database.</p>
    
    <pre><code class="language-ruby">rails g migration create_user_translations</code></pre>
    <p>Replace the migration file with:</p>
    <pre><code class="language-ruby">class CreateUserTranslations &lt; ActiveRecord::Migration[5.1]
      def up
        User.create_translation_table!(
          { name: :string},
          { migrate_data: true }
        )
      end
    
      def down
        User.drop_translation_table! migrate_data: true
      end
    end</code></pre>
    <p>Run the migration</p>
    <pre><code class="language-ruby">rails db:migrate</code></pre>
    
    <p>Start the server and try CRUD in the chosen locales.</p></div>
  </article>

  <div class="cell medium-3 large-2 flex-container flex-dir-column data-sticky-container">
  
    <div class="sticky" data-sticky data-options="marginTop:5;">
      
      <div class="callout flex-child-shrink">
        
        <ul class="vertical dropdown menu" data-dropdown-menu>
          <li>
            <a href="#"><%= t('languages') %></a>
            <ul class="vertical menu nested">
              <li><%= image_tag("gb.svg", alt: "en", class: 'flag-icon') %><%= link_to t('en'), root_path(locale: 'en'), data: { turbolinks: "false" } %></li>
              <li><%= image_tag("ir.svg", alt: "ir", class: 'flag-icon') %><%= link_to t('fa'), root_path(locale: 'fa'), data: { turbolinks: "false" } %></li>
              <li><%= image_tag("np.svg", alt: "np", class: 'flag-icon') %><%= link_to t('ne'), root_path(locale: 'ne'), data: { turbolinks: "false" } %></li>
              <li><%= image_tag("th.svg", alt: "th", class: 'flag-icon') %><%= link_to t('th'), root_path(locale: 'th'), data: { turbolinks: "false" } %></li>
            </ul>
          </li>
        </ul>
        
      </div>
      
      <div class="callout flex-child-shrink">
        <ul class="vertical menu">
          <li><%= link_to t('en'), root_path(locale: 'en') %></li>
          <li><%= link_to t('fa'), root_path(locale: 'fa') %></li>
        </ul>
      </div>
      
      <div class="callout flex-child-shrink">
        <%= link_to t('about_us'), pages_path('about_us'), data: { turbolinks: "false" } %>
        <%= image_tag("ir.svg", alt: "ir", class: 'flag-icon') %>
      </div>
      
      <div class="callout flex-child-shrink">
        <%= link_to t('users.index.title'), users_url(locale: I18n.locale) %>
      </div>
      
    </div>
  
  </div>

</div> 
