<h1><%=t :hello %></h1>
<p>symbol with chosen language Value passed from the controller</p>
<p><%= flash[:notice] %></p>
<p><%= l Time.now, format: :short %></p>

<p>HTML content in any particular language</p>
<p>यो नेपाललाई नमस्कार संसारको लागि हो?</p>

<hr />
<p>StaticPages#show about us</p>
<p>Find me in app/views/static_pages/about_us.ne.html.erb</p>