<h1><%=t :hello %></h1>
<p>symbol with chosen language Value passed from the controller</p>
<p><%= flash[:notice] %></p>
<p><%= l Time.now, format: :short %></p>

<p>HTML content in any particular language</p>

<h1>ฉันชื่อ Pikun</h1>
<p>ฉันไม่รู้ว่าหมายถึงอะไรน่ารัก</p>
<p>พ่อของฉันบอกว่าฉันน่ารักมาก</p>
<div class="oval-border">
  <%= image_tag("boss.jpg", alt: "Who is the big boss?!") %>
</div>
<hr />
<p>StaticPages#show about us</p>
<p>Find me in app/views/static_pages/about_us.th.html.erb</p>


<h1>test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test 
</h1>