<div class="grid-x grid-padding-x">
  
  <div class="cell medium-3 large-2 flex-container flex-dir-column data-sticky-container">
    <div id="side-nav" class="sticky" data-sticky data-options="marginTop:0;" >
      <%= render 'partials/side_nav' %>
    </div>
  </div>

  <div class="cell auto align-self-top">
        
    <%= render 'partials/flash_messages' %>

      <h1><%=t :hello %> 
      Γειά σου  
      Κόσμε 
      नमस्कार संसार 
      สวัสดีชาวโลก
      salve Orbis Terrarum
      ສະ​ບາຍ​ດີ​ຊາວ​ໂ
      سلام نړی
      你好 世界
      ہیلو ورلڈ
      नमस्ते दुनिया
     سلام دنیا</h1>
  

  </div>

</div> 






