<div class="grid-x grid-padding-x">
  <div class="cell medium-12 large-12">

      <h1>Log in</h1>
      
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(:session, url: login_path) do |f| %>
      
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
      
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
      
            <%= f.submit "Log in", class: "btn btn-primary" %>
          <% end %>
      
        </div>
      </div>

  </div>
</div>

<hr />
<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
