<div class="grid-x grid-padding-x">
  
  <div class="cell flex-container flex-dir-column data-sticky-container side-column">
    <div class="sticky" data-sticky data-options="marginTop:0;" >
      <%= render 'partials/side_nav' %>
    </div>
  </div>

  <div class="cell auto align-self-top" id="main-column">
        
    <%= render 'partials/flash_messages' %>
    <article>
      <h1>Where to start?</h1>

      <p>Much of the power of Rails as a framework is in the elegance of Ruby. <%= link_to 'A tour of the Ruby language', 'http://tryruby.org/levels/1/challenges/0', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %> is a good starting point.</p>

      <p>Marshalling data in and out of relational models through the ActiveRecord pattern is a main feature of Rails.  The Object Relational Mapping (ORM) basics are covered in this video from <%= link_to 'Rails for Zombies!', 'http://railsforzombies.org/levels/1', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %></p>

      <h2>Development, Colloboration and Deployment Server setup</h2>
      <ul>
        <li><%= link_to 'Cloud9', 'https://c9.io', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %> has a VM with one processor and half of Gigabyte of memory for the free account.  It has the Ubuntu OS and Rails is preinstalled and ready for coding. For version control Git is preinstalled</li>
        <li><%= link_to 'Bitbucket', 'https://bitbucket.org/', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %> is good for a collaborative server with an option for a private project.  An alternative is Github.</li>
        <li><%= link_to 'Heroku', 'https://www.heroku.com/', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %> has a gem that facilitates deployment from migrating the DB to asset management to building the application.</li>
      </ul>
      <p> All of this is covered in Hartl's Ruby on Rails Tutorial (Rails 5).  Follow <%= link_to 'Chapter 1 - From zero to deploy', 'https://www.railstutorial.org/book/beginning', target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %> to create the Cloud environments and deploy your first Rails application.</p>
    
    </article>
    <%= render 'partials/next_prev' %>

  </div><!-- end column -->

  <div class="cell small-2 flex-container flex-dir-column data-sticky-container side-column">
  
    <div class="sticky" data-sticky data-options="marginTop:0;">
      
      <div class="new_rating" class="callout flex-child-shrink">
        <label>Rating: <%= number_with_precision(@average_rating.to_f, :precision => 2) %> &dash; Votes: <%= @total_votes %></label>
        <%= render 'ratings/form', rating: @rating %>
        <p>Overall progress:<br /><progress max="100" value="<%= @progress %>"></progress></p>
      </div>    
      
      <div class="side-nav callout flex-child-shrink">
        <aside>
          <header>Necessary reading</header>
          <nav>
          <ul id="resources_vertical_menu" class="vertical menu">
            <li><%= link_to 'Ruby tour', 'http://tryruby.org/levels/1/challenges/0', title: "Interactive ruby exercise", target: "_blank", class: "inline" %><%= image_tag("external-link-squared.png", class: "icon" ) %></li>
            <li><%= link_to 'Rails Intro', 'http://guides.rubyonrails.org/getting_started.html', title: "Rails Guide &dash; getting started".html_safe, target: "_blank", class: "inline"  %><%= image_tag("external-link-squared.png", class: "icon" ) %></li>
            <li><%= link_to 'Zero to Deploy', 'https://www.railstutorial.org/book/beginning', title: "Hartl Rails 5 tutorial", target: "_blank", class: "inline"  %><%= image_tag("external-link-squared.png", class: "icon" ) %></li>
          </ul>
          </nav>
        </aside>
      </div>
      
    </div>
  
  </div>

</div> 