<div class="grid-x grid-padding-x">
  
  <div id="main-nav" class="cell large-2 flex-container flex-dir-column data-sticky-container side-column">
    <div class="side-nav sticky" data-sticky data-options="marginTop:0;" >
      <%= render 'partials/side_nav' %>
    </div>
  </div>

  <div id="secondary-nav" id="main-column"  class="cell auto align-self-top">
        
    <h2>Users</h2>
    <p>The aim is to build a secure internationalised application.  The zero to deploy Hartl chapter creates the anatomy of a typical Rails project.  This exercise adds a user model to it including a secure password.</p>
    
    <p>As always! in case you need to revert back, create a new users git branch</p>
    <p><code>git branch users</code> and switch to it: <code>git checkout users</code></p>
    <p>Generate a user scaffold which creates the default Rails stack, including Model, View and Controller code for CRUD operations and their corresponding routes.</p>
    <pre><code class="language-ruby">rails generate scaffold user name email password_digest</code></pre>
    
    <p>To create encrypted secure password, edit the Gem file and add the bycrypt gem:</p>
    <code>gem 'bcrypt', '3.1.11'</code>
    <p><code>bundle install</code></p>
    
    <p>Scaffold creates default CRUD views based on the attributes specified.  In this case the password digest is needed in the model but not the views as the digest is produced by the <code>bcrypt</code> gem called in the model.  Therefore, edit the user form (delete <code>password_digest</code>) and add:</p>
    
<pre><code class="language-ruby">&lt;div class="field">
  &lt;%= form.label :password %>
  &lt;%= form.password_field :password %>
&lt;/div>
&lt;div class="field">
  &lt;%= form.label :password_confirmation, "Confirmation" %>
  &lt;%= form.password_field :password_confirmation %>
&lt;/div></code></pre>

    <p>Similarly, delete <code>password_digest</code> from <code>view > user > show and index</code></p>
    
    <p>To access the new parameters, <code>password</code> and <code>confirm_password</code> in the view they have to be white listed in the controller.</p>

    <p>Edit the user controller and update the white listed attributes to:</p>
    
<pre><code class="language-ruby"># Never trust parameters from the scary internet, only allow the white list through.
def user_params
  params.require(:user).permit(:name, :email, :password, :password_confirmation)
end
</code></pre>

    <p><code>has_secure_password</code> adds the methods to set and authenticate against a BCrypt pasword.  It uses the <code>password_digest</code> attribute.  Update user model to:</p>

<pre><code class="language-ruby">class User < ApplicationRecord
  before_save { email.downcase! }
  validates :name, presence: true
  VALID_EMAIL_REGEX = /\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i
  validates :email, presence: true, length: { maximum: 255 },
                    format: { with: VALID_EMAIL_REGEX },
                    uniqueness: true
                    
  has_secure_password
  validates :password, presence: true, length: { minimum: 6 }
end
</code></pre>

    <p><code>bundle update</code>, <code>start rails server</code> and try /users and test CRUD users</p>
    <p>If all is well! <code>git add All</code>, <code>git commit -am "user model with secure password complete"</code>, <code>git checkout master</code>, <code>git merge users</code>, <code>git push origin</code> and to deploy: <code>git push heroku</code> and <code>heroku run rails db:migrate</code> </p>

  </div>

  <div class="cell large-2 flex-container flex-dir-column data-sticky-container side-column">
  
    <div class="sticky" data-sticky data-options="marginTop:0;">
      
      <div class="callout flex-child-shrink">
        <%= render 'ratings/form', rating: @rating %>
        <p>Overall progress:<br /><progress max="100" value="<%= @progress %>"></progress></p>
      </div>    
      
      <div class="side-nav callout flex-child-shrink">
        <aside>
          <header>Resources</header>
          <nav>
          <ul id="resources_vertical_menu" class="vertical menu">
            <li><%= link_to 'Ruby tour', 'http://tryruby.org/levels/1/challenges/0', title: "Interactive ruby exercise", target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %></li>
            <li><%= link_to 'Rails Intro', 'http://guides.rubyonrails.org/getting_started.html', title: "Rails Guide getting started", target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %></li>
            <li><%= link_to 'Rails 5 tutorial', 'https://www.railstutorial.org/book', title: "Hartl Rails 5 book", target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %></li>
            <li><%= link_to 'has_secure_password', 'https://apidock.com/rails/ActiveModel/SecurePassword/ClassMethods/has_secure_password', title: "Rails API Dock", target: "_blank" %><%= image_tag("external-link-squared.png", :class => "icon" ) %></li>
          </ul>
          </nav>
        </aside>
      </div>
      
    </div>
  
  </div>

</div> 

