<hr />
<nav class="prev_next">
<div class="grid-x grid-margin-x">
    <div class="cell small-4">
      <p id="prev"><i class="icon fi-arrow-left"> </i><%= link_to Lab.find(@prev_topic_lab.lab_id).name.humanize, topic_lab_path(@prev_topic_lab.id), data: { turbolinks: "false" } %></p>
    </div>
    <div class="cell small-4">
      <span class="text-align-center"><%= render 'ratings/form', rating: @rating %></span>
    </div>
    <div class="cell small-4">
      <p id="next" class="float-right">
        <%= link_to Lab.find(@next_topic_lab.lab_id).name.humanize, topic_lab_path(@next_topic_lab.id), data: { turbolinks: "false" } %> <i class="icon fi-arrow-right"></i>
      </p>
    </div>
</div>
</nav>