<div class="title-bar" data-responsive-toggle="side-nav" data-hide-for="">
  <button class="menu-icon dark" type="button" data-toggle="side-nav"></button>
  <div class="title-bar-title"></div>
</div>

<div class="top-bar" id="side-nav">
  
  <div class="callout flex-child-shrink">
    <nav id="topic-nav">
      <%= link_to '<i class="fi-home"></i> Home'.html_safe, root_path, data: { turbolinks: "false" } %>
      <% Topic.all.each do |topic| %>
        <ul class="dropdown vertical menu" data-responsive-menu="drilldown medium-accordion">
          <li><a href="#"><i class="fi-page-multiple"></i> <%= topic.name %> </a>
            <ul class="vertical menu">
              <% topic.labs.each do |lab| %>
                <li><%= link_to lab.summary, topic_lab_path(lab.id), data: { turbolinks: "false" } %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %> 
    </nav>
  </div>


</div>