<h1 id="notice"><%= notice %></h1>

<h1><%= t('users.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('users.name') %></th>
      <th><%= t('users.email') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to t('show'), user %></td>
        <td><%= link_to t('edit'), edit_user_path(user) %></td>
        <td><%= link_to t('destroy'), user, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('menu.new_user'), new_user_path %>
