<div class="grid-x grid-padding-x">
  
  <div class="cell medium-3 large-2 flex-container flex-dir-column data-sticky-container">
    <div id="side-nav" class="sticky" data-sticky data-options="marginTop:0;" >
      <%= render 'partials/side_nav' %>
    </div>
  </div>

  <div class="cell auto align-self-top">
        
    <%= render 'partials/flash_messages' %>

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
 
  </div>

</div> 