<%= form_for([@topic_lab, @rating]) do |f| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% rating.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= hidden_field_tag :topic_lab_id, @topic_lab.id %>

  low &nbsp;<%= f.radio_button :value, 1, :onclick => "this.form.submit();" %>&nbsp;
  <%= f.radio_button :value, 2, :onclick => "this.form.submit();" %>&nbsp;
  <%= f.radio_button :value, 3, :onclick => "this.form.submit();" %>&nbsp;
  <%= f.radio_button :value, 4, :onclick => "this.form.submit();" %>&nbsp;
  <%= f.radio_button :value, 5, :onclick => "this.form.submit();" %>&nbsp; high


<% end %>
