<article class="slide">
  <header>Software Patterns</header>
  <ul>
    <li>Architectural
      <uL>
        <li>Layering (SaaS stack)</li>
        <li>Model View Contrller (MVC)</li>
        <li>Event-based (interactive view)</li>
      </uL>
    </li>    
    <li>
      Gang of Four (GoF) Patterns
      <ul>
        <li></li>

      </ul>
      <code class="language-ruby">1.send '+', 2</code> is equivalent to <code class="language-ruby">1.+(2)</code><br />
      and with more syntactical sugar, equivalent to: <code class="language-ruby">1 + 2</code>
    </li>
    <li>
      Similarly, <code class="language-ruby">[]</code> or <code class="language-ruby">[]=</code> are Ruby methods<br />
      <code class="language-ruby">x.send :[]=,1,2</code> is equivalent to <code class="language-ruby">x[1] = 2</code> <br />
      <code class="language-ruby">x.send :sort</code> is equivalent to <code class="language-ruby">x.sort</code> <br />
      <hr />
    </li>

  </ul>
</article>