<div class="grid-y medium-grid-frame">
  <div class="cell medium-8 medium-cell-block-y">
  <article class="slide">
<div class="say-it-header"><strong>Treble click in the text box and click <i class="fi-volume"></i></strong>
  <span class="say-it">
  Note the first line of code defines a symbol. The second line is an example of an instance variable.  The name for an instance variable must start with an @ sign. An instance variable values are available in the view.
  </span>
</div>
  <header>Ruby the happy language!</header>
  <ul>
    <li>
      Ruby for Rails:<br />
      <strong>Hashes</strong>, <code class="language-ruby">{ k,v }</code> are everywhere <br />
      <strong>Symbols</strong>, reusable code words with a colon: <code class="language-ruby">:topic</code><br />
      <strong>Instance variables</strong> with an <strong>@</strong> are defined in controllers and are visible in views <br />
      <code class="language-ruby">@labs = Labs.all</code><br />
      <strong>Blocks</strong>, can be tacked on to Ruby&apos;s methods,<br />
      <code class="language-ruby">@labs.each do |lab| { some operation } end</code><br />
    </li>
  </ul>
  <hr />
<div class="say-it-header"><strong>Treble click below this line to Play!</strong>
  <span class="say-it">
  Note the first line of code defines a symbol. The second line is an example of an instance variable.  The name for an instance variable must start with an @ sign. An instance variable values are available in the view.
  </span>
</div>  
  <header>Ruby the Object Oriented language!</header>
  <ul>
    <li>
      Everything is an object (almost)<br />
      <code class="language-ruby">1.send '+', 2</code> is equivalent to <code class="language-ruby">1.+(2)</code><br />
      and with more syntactical sugar, equivalent to: <code class="language-ruby">1 + 2</code>
    </li>
    <li>
      Similarly, <code class="language-ruby">[]</code> or <code class="language-ruby">[]=</code> are Ruby methods<br />
      <code class="language-ruby">x.send :[]=,1,2</code> is equivalent to <code class="language-ruby">x[1] = 2</code> <br />
      <code class="language-ruby">x.send :sort</code> is equivalent to <code class="language-ruby">x.sort</code> <br />
      <hr />
    </li>
  </ul>
  
  <button id="speak_it_button" onClick="say('text to speech');">Speak it!</button>
  <div>
    <p id="text_to_speech" onClick="selectAll('text_to_speech');">Hello from text to speech</p>
  </div>
</article>
  </div>
</div>