<%= form_with(model: topic_lab, local: true) do |form| %>
  <% if topic_lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic_lab.errors.count, "error") %> prohibited this topic_lab from being saved:</h2>

      <ul>
      <% topic_lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lab_order %>
    <%= form.number_field :lab_order, id: :lab_order %>
  </div>
  
  <div class="field">
    <%= form.collection_select :topic_id, Topic.order(:name), :id, :name %>
  </div>

  <div class="field">
    <%= form.collection_select :lab_id, Lab.order(:name), :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
