<p id="notice"><%= notice %></p>

<h1>Topic Labs</h1>

<table>
  <thead>
    <tr>
      <th>Lab order</th>
      <th>Topic</th>
      <th>Lab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topic_labs.each do |topic_lab| %>
      <tr>
        <td><%= topic_lab.lab_order %></td>
        <td><%= topic_lab.topic_id %></td>
        <td><%= topic_lab.lab_id %></td>
        <td><%= link_to 'Show', topic_lab %></td>
        <td><%= link_to 'Edit', edit_topic_lab_path(topic_lab) %></td>
        <td><%= link_to 'Destroy', topic_lab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic Lab', new_topic_lab_path %>
