/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
    font-family: 'Delius', sans-serif;
} 
/* override foundation; highlighting by prism js/css */
pre > code {
    border: none;
}

#main-column {
  min-width: 50%;
  margin-left: 3em;
  border-left: 1px solid rgba(206, 203, 203, 0.3);
}

@media screen and (max-width: 460px) {
 #main-column {
   width: 98%;
 }
 .side-column {
   visibility: hidden;
   display: none;
 } 
}
@media screen and (max-width: 800px) {
  .new_rating {
    visibility: hidden;
    display: none;
  }     

 #main-column {
   width: 98%;
 }
 .side-column {
   font-size: 0.58em !important;
 }
 .callout {
    margin: 0.25rem 0 .1rem 0;
    padding: .25rem;
 }
}

.new_rating {
  min-width: 15em;
}

.inline {
  display: inline !important;
}

.callout {
  border: 1px solid rgba(206, 203, 203, 0.3);
  border-radius: 0.35rem;
}

.icon {
  width: 1em;
  vertical-align: top;
  opacity: 0.3;
}

#lang_vertical_menu a, #resources_vertical_menu a {
  display: inline;
}

#lab_sheet {
  height: 25em;
  overflow: scroll;
}

.flag-icon {
  width: 1em;
  line-height: 1em;
  margin: 0 0.2em;
  padding-bottom: 0.6em;
}

.slide {
  width: 95%;
  line-height: 2.55em;
  margin: 0 auto;
  font-size: 2em;
}
.slide header {
  font-weight: bolder;
  font-size: 1.25em;
}
.slide hr {
  padding: 1em;
}
.slide strong {
  color: darkgreen;
}
.slide ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2em;
}
.slide li {
  padding-left: 1em; 
  text-indent: -1em;  
}
.slide li::before {
  content: "• ";
  color: inherit;
}
.slide-comments-icon {
font-size: 2.5em;
float: left;
padding: 0 0.25em 0 0;
}
.say-it-header {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25em;
  float: right;
  width: 11em;
  border: 1px solid #c2c6c2;
}

.say-it {
  width: 10em;
  height: 12em;
  overflow: scroll;
  float: right;
  border: 1px solid #c2c6c2;
}
.float-right {
    float: right;
}
.text-align-center {
    text-align: center;
}