
<%= form_with(model: lab, local: true) do |form| %>
  <% if lab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lab.errors.count, "error") %> prohibited this lab from being saved:</h2>

      <ul>
      <% lab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :lab_name %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary, id: :lab_summary %>
  </div>

  <div class="field">
    <%= form.label :sheet %>
    <%= form.text_area :sheet, id: :lab_sheet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
