<div class="grid-x grid-padding-x">
  
  <div class="cell medium-3 large-2 flex-container flex-dir-column data-sticky-container">
    <div id="side-nav" class="sticky" data-sticky data-options="marginTop:0;" >
      <%= render 'partials/side_nav' %>
    </div>
  </div>

  <div class="cell auto align-self-top">
        
    <%= render 'partials/flash_messages' %>
    
    <div id="notice">
      <p id="notice"><%= notice %></p>
      <p>
        The lab sheets are retrieved from the DB.
    
    Labs > edit
    
    Copy lab sheet content into corresponding file here for editing and copying back to store in DB
    (smaller edits in the lab edit form; larger edits, the color coding is useful)
      </p>
    </div>
    
    <p>
      <strong>Name:</strong>
      <%= @lab.name %>
    </p>
    
    <p>
      <strong>Summary:</strong>
      <%= @lab.summary %>
    </p>
    
    <p id="lab_sheet">
      <strong>Sheet:</strong>
      <%= @lab.sheet %>
    </p>
    
    <%= link_to 'Edit', edit_lab_path(@lab) %> |
    <%= link_to 'Back', labs_path %>
 
  </div>

</div> 